doctype html
html(ng-app='DebtHackApp', ng-controller='DebtHackCtrl')
    head
        base(href="/")
        link(rel='stylesheet', href='/bower_components/angular-material/angular-material.min.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')
        link(rel='stylesheet', href='/css/styles.css')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height, minimal-ui')
        meta(name="fragment" content="!")
        title DebtHack
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="description", content="DebtHack Frontend.")
        meta(itemprop="name", content="DebtHack")
        meta(itemprop="description", content="DebtHack Frontend.")
    body(layout='column', ng-cloak, ng-controller="DebtHackCtrl", style='overflow:hidden')
        include ./views/structure
        script(src='/bower_components/angular/angular.js', defer)
        script(src='/bower_components/underscore/underscore-min.js', defer)
        script(src='/bower_components/angular-underscore/angular-underscore.min.js', defer)
        script(src='/bower_components/angular-route/angular-route.min.js', defer)
        script(src='/bower_components/angular-animate/angular-animate.min.js', defer)
        script(src='/bower_components/angular-aria/angular-aria.min.js', defer)
        script(src='/bower_components/moment/min/moment.min.js', defer)
        script(src='/bower_components/angular-moment/angular-moment.min.js', defer)
        script(src='/bower_components/angular-material/angular-material.min.js', defer)
        script(src='/app/app.routes.js', defer)
        script(src='/app/app.factory.js', defer)
        script(src='/app/app.controllers.js', defer)
        script(src='/app/app.js', defer)