
<div ng-controller="alternativeCtrl" layout="column" flex="flex" ng-init="checkLoggedIn()">
  <md-content layout-padding="layout-padding">
    <md-card ng-repeat="alternative in alternatives">
      <md-card-header ng-init="alternative.showContent = false; alternative.selectedAltId = 0;">
        <md-card-header-text><span class="md-title">{{ alternative.title }}</span></md-card-header-text>
      </md-card-header>
      <md-card-content>
        <div layout="column">
          <div layout="row" layout-align="space-between center"><span class="md-subhead">Average Monthly Spend</span><span>{{ alternative.monthly_spend | currency }}</span></div>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button aria-label="toggle" ng-click="toggleContent(alternative.id)"><i ng-class="alternative.showContent ? &quot;fa-arrow-circle-up&quot; : &quot;fa-arrow-circle-down&quot;" class="fa"></i></md-button>
      </md-card-actions>
      <md-card-content ng-show="alternative.showContent" layout="column" layout-align="center center">
        <md-card layout="column" ng-repeat="alt in alternative.alternatives" ng-class="alternative.selectedAltId == alt.id ? &quot;selectAlternative&quot; : &quot;&quot;" ng-click="selectAlternative(alternative.id, alt.id)">
          <md-card-header>
            <md-card-header-text><span class="md-title">{{ alt.title }}</span></md-card-header-text>
          </md-card-header>
          <md-card-content>
            <div layout="row" layout-align="space-between center"><span class="md-subhead">Estimated Savings</span><span>{{ alt.savings_dollar | currency }}</span></div>
            <div layout="row" layout-align="space-between center"><span></span><span class="md-caption">{{ alt.savings_percent | percentage:2 }}</span></div>
          </md-card-content>
        </md-card>
        <md-button ng-click="pushAlternative(alternative)" ng-show="alternative.selectedAltId != 0" class="selectAlternative">Select Alternative</md-button>
      </md-card-content>
    </md-card>
  </md-content>
</div>