
<div ng-controller="budgetCtrl" layout="column" flex="flex" ng-init="checkLoggedIn(); budget.budget_percent=budget.weekly_budget / budget.weekly_income; budget.debt_percent=budget.towards_debt / budget.towards_savings;">
  <md-content layout-padding="layout-padding">
    <div layout="column" layout-align="center stretch" ng-show="firstLogin">
      <md-button ng-click="updateBudget()" ng-show="firstLogin" class="selectAlternative">Finish</md-button>
    </div>
    <div layout="column" layout-align="center center"><span class="md-header">Budget</span></div>
    <md-card>
      <md-card-header>
        <md-card-header-text layout="row" layout-align="space-between center"><span class="md-title">Weekly Budget</span><span ng-bind="budget.weekly_income * (budget.budget_percent / 100) | currency"></span></md-card-header-text>
      </md-card-header>
      <md-card-content layout="row" layout-align="space-between end"><span ng-bind="budget.weekly_income - budget.weekly_income | currency" class="md-caption"></span>
        <md-slider flex="flex" min="0" max="100" ng-model="budget.budget_percent" aria-label="budget slider"></md-slider><span ng-bind="budget.weekly_income | currency" class="md-caption"></span>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-header layout="column">
        <md-card-header-text layout="row" layout-align="space-between center"><span class="md-title">Debt Payment</span><span ng-bind="(budget.weekly_income - (budget.weekly_income * (budget.budget_percent / 100))) * ((100 - budget.debt_percent) / 100) | currency"></span></md-card-header-text>
        <md-card-header-text layout="row" layout-align="space-between center"><span class="md-title">Savings</span><span ng-bind="(budget.weekly_income - (budget.weekly_income * (budget.budget_percent / 100))) * (budget.debt_percent / 100) | currency"></span></md-card-header-text>
      </md-card-header>
      <md-card-content layout="row" layout-align="space-between end"><span ng-bind="(budget.weekly_income - (budget.weekly_income * (budget.budget_percent / 100))) * ((100 - budget.debt_percent) / 100)  | currency" class="md-caption"></span>
        <md-slider flex="flex" min="0" max="100" ng-model="budget.debt_percent" aria-label="debt slider"></md-slider><span ng-bind="(budget.weekly_income - (budget.weekly_income * (budget.budget_percent / 100))) * (budget.debt_percent / 100) | currency" class="md-caption"></span>
      </md-card-content>
    </md-card>
    <div layout="column" layout-align="center stretch">
      <md-button ng-click="updateBudget()" ng-show="!firstLogin">Modify Budget</md-button>
    </div>
  </md-content>
</div>