
<div ng-controller="homeCtrl" layout="column" flex="flex" ng-init="checkLoggedIn(); notificationFilter.flagged = &quot;0&quot;;">
  <md-content layout-padding="layout-padding">
    <div ng-class="&quot;p-&quot; + budgetRemaining.percent_used" class="avatar-container"><img src="img/white-128.jpg" class="avatar"/>
      <div class="info js-active">
        <div class="info-inner">{{budgetRemaining.percent_used | percentage:0}}</div>
      </div>
    </div>
    <div layout="row" layout-align="space-between center"><span class="md-header">Weekly Budget</span><span ng-bind="budgetRemaining.weekly_budget | currency"></span></div>
    <div layout="row" layout-align="space-between center"><span class="md-header">Budget Remaining</span><span ng-bind="budgetRemaining.weekly_budget * ((100 - budgetRemaining.percent_used)/100) | currency"></span></div>
    <div layout="row" layout-align="space-between center"><span class="md-header">Days Remaining</span><span ng-bind="budgetDaysRemaining"></span></div>
    <md-card ng-show="newAlternatives &gt; 0">
      <md-card-content layout="row" layout-align="space-between center"><span class="md-header">New Alternatives</span><span ng-bind="newAlternatives"></span></md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="goToAlternatives()">Show</md-button>
      </md-card-actions>
    </md-card>
    <md-card ng-repeat="notification in notifications | filter:notificationFilter">
      <md-card-content layout="column" layout-align="center stretch"><span ng-bind="notification.title" class="md-header"></span><span ng-bind="notification.description" class="md-caption"></span></md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="dismissNotification(notification.id)">Dismiss</md-button>
      </md-card-actions>
    </md-card>
  </md-content>
</div>