
<div ng-controller="incomeCtrl" layout="column" flex="flex" ng-init="checkLoggedIn()">
  <md-content layout-padding="layout-padding">
    <div layout="column" layout-align="center stretch" ng-show="firstLogin">
      <md-button ng-click="setupInitialBudget()" ng-show="firstLogin" class="selectAlternative">Next</md-button>
    </div>
    <div layout="column" layout-align="center center"><span class="md-header">Income Sources</span></div>
    <md-card>
      <md-input-container class="md-block">
        <label>Name</label>
        <input type="text" ng-model="newIncomeSource.name"/>
      </md-input-container>
      <md-input-container style="height:58px;" class="md-block">
        <label>Frequency</label>
        <md-select ng-model="newIncomeSource.selectedFrequency">
          <md-option ng-value="frequency.id" ng-repeat="frequency in frequencies" ng-bind="frequency.desc"></md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Net Amount</label>
        <input type="number" ng-model="newIncomeSource.amount"/>
      </md-input-container>
      <md-button ng-click="pushIncomeSource()">Add Income Source</md-button>
    </md-card>
    <md-card ng-repeat="incomeSource in incomeSources | orderBy:'name'">
      <md-card-header>
        <md-card-header-text><span class="md-title">{{ incomeSource.name }}</span></md-card-header-text>
        <md-card-avatar><i class="fa fa-money fa-3x"></i></md-card-avatar>
      </md-card-header>
      <md-card-content>
        <div layout="column">
          <div layout="row" layout-align="space-between center"><span class="md-subhead">Amount</span><span>{{ incomeSource.amount | currency }}</span></div>
          <div layout="row" layout-align="space-between center"><span class="md-subhead">Frequency</span><span ng-bind="incomeSource.frequency.desc"></span></div>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>