div(ng-controller='billCtrl', layout='column', flex, ng-init='checkLoggedIn()')
    md-content(layout-padding)
        div(layout='column', layout-align='center stretch', ng-show='firstLogin')
            md-button.selectAlternative(ng-click="goToIncome()", ng-show='firstLogin') Next
        div(layout='column', layout-align='center center')
            span.md-header Bills
        md-card
            md-input-container.md-block
                label Name
                input(type='text', ng-model='newBill.name')
            md-input-container.md-block
                label Amount
                input(type='number', ng-model='newBill.amount')
            md-input-container.md-block
                label Frequency
                md-select(ng-model="newBill.selectedFrequency")
                    md-option(ng-value="frequency.id", ng-repeat="frequency in frequencies") {{ frequency.desc }}
            md-button(ng-click="pushBill()") Add Bill
        md-card(ng-repeat="bill in bills | orderBy:'name'")
            md-card-header
                md-card-header-text
                    span.md-title {{ bill.name }}
                md-card-avatar
                    i.fa.fa-envelope.fa-3x
            md-card-content
                div(layout='column')
                    div(layout="row" layout-align="space-between center")
                        span.md-subhead Amount
                        span {{ bill.amount | currency }}
                    div(layout="row" layout-align="space-between center")
                        span.md-subhead Frequency
                        span(ng-bind='bill.frequency.desc')