div(ng-controller='budgetCtrl', layout='column', flex, ng-init='checkLoggedIn(); budget.budget_percent=budget.weekly_budget / budget.weekly_income; budget.debt_percent=budget.towards_debt / budget.towards_savings;')
    md-content(layout-padding)
        div(layout='column', layout-align='center stretch', ng-show='firstLogin')
            md-button.selectAlternative(ng-click="updateBudget()", ng-show='firstLogin') Finish
        div(layout='column', layout-align='center center')
            span.md-header Budget
        md-card
            md-card-header
                md-card-header-text(layout='row', layout-align='space-between center')
                    span.md-title Weekly Budget
                    span(ng-bind='budget.weekly_income * (budget.budget_percent / 100) | currency')
            md-card-content(layout='row', layout-align='space-between end')
                span.md-caption(ng-bind='budget.weekly_income - budget.weekly_income | currency')
                md-slider(flex min="0", max="100", ng-model='budget.budget_percent', aria-label='budget slider')
                span.md-caption(ng-bind='budget.weekly_income | currency')
        md-card
            md-card-header(layout='column')
                md-card-header-text(layout='row', layout-align='space-between center')
                    span.md-title Debt Payment
                    span(ng-bind='(budget.weekly_income - (budget.weekly_income * (budget.budget_percent / 100))) * ((100 - budget.debt_percent) / 100) | currency')
                md-card-header-text(layout='row', layout-align='space-between center')
                    span.md-title Savings
                    span(ng-bind='(budget.weekly_income - (budget.weekly_income * (budget.budget_percent / 100))) * (budget.debt_percent / 100) | currency')
            md-card-content(layout='row', layout-align='space-between end')
                span.md-caption(ng-bind='(budget.weekly_income - (budget.weekly_income * (budget.budget_percent / 100))) * ((100 - budget.debt_percent) / 100)  | currency')
                md-slider(flex min="0", max="100", ng-model='budget.debt_percent', aria-label='debt slider')
                span.md-caption(ng-bind='(budget.weekly_income - (budget.weekly_income * (budget.budget_percent / 100))) * (budget.debt_percent / 100) | currency')
        div(layout='column', layout-align='center stretch')
            md-button(ng-click="updateBudget()", ng-show='!firstLogin') Modify Budget