div(ng-controller='debtCtrl', layout='column', flex, ng-init='checkLoggedIn()')
    md-content(layout-padding)
        div(layout='column', layout-align='center stretch', ng-show='firstLogin')
            md-button.selectAlternative(ng-click="goToBills()", ng-show='firstLogin') Next
        div(layout='column', layout-align='center center')
            span.md-header Debts
        md-card
            md-input-container.md-block
                label Name
                input(type='text', ng-model='newDebt.name')
            md-input-container.md-block
                label Balance
                input(type='number', ng-model='newDebt.balance')
            md-input-container.md-block
                label Annual Interest Rate
                input(type='number', ng-model='newDebt.interestRate')
            md-input-container.md-block
                label Minimum Monthly Payment
                input(type='number', ng-model='newDebt.minPayment')
            md-input-container.md-block
                label Debt Type
                md-select(ng-model="newDebt.selectedDebtType")
                    md-option(ng-value="type.id", ng-repeat="type in debtTypes") {{ type.desc }}
            md-button(ng-click="pushDebt()") Add Debt
        md-card(ng-repeat="debt in debts | orderBy:'name'")
            md-card-header
                md-card-header-text
                    span.md-title(ng-bind='debt.name')
                    span.md-caption(ng-bind='debt.type.desc')
                md-card-avatar
                    i.fa.fa-3x(ng-class='debt.type.icon')
            md-card-content
                div(layout='column')
                    div(layout="row" layout-align="space-between center")
                        span.md-subhead Balance
                        span {{ debt.balance | currency }}
                    div(layout="row" layout-align="space-between center")
                        span.md-subhead Interest Rate
                        span {{ debt.interestRate | percentage:2 }}
                    div(layout="row" layout-align="space-between center")
                        span.md-subhead Payment
                        span {{ debt.minPayment | currency }}