div(ng-controller='loginCtrl', layout='column', flex, layout-align='center center')
    md-content(layout-padding)
        md-card
            md-input-container.md-block
                label Name
                input(type='text', ng-model='userName')
            md-button(ng-click="doLogin()") Login